<a href="/dashboard">Go Home</a><br></br>

<h1>Name: <%= container_info.Name %></h1>
<a>Image: <%= container_info.Image %></a><br>
<a>State: <%= container_info.State.Status %></a><br>
<% if (container_info.State.Running===false) { %>
    <a>Exit Code: <%= container_info.State.ExitCode %></a><br>
<% } %>
<a>Container ID: <%= container_info.Id %></a><br>

<% if (container_info.State.Running===true) { %>
    <button disabled>Start Container</button>
<% } else { %>
    <button onclick="start()">Start Container</button>
<% } %>

<form action="/dashboard/container/<%= container_info.Id %>/actions/stop" method="post">
    <% if (container_info.State.Running===false) { %>
        <button name="stop" value="stop" disabled>Stop Container</button>
    <% } else { %>
        <button name="stop" value="stop">Stop Container</button>
    <% } %>
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function sleep(ms) {
        return new Promise((resolve) => {
            setTimeout(resolve, ms);
        });
    }
</script>
<script>
    async function start() {
        console.log("function called")
        const res = await fetch("/dashboard/container/<%= container_info.Id %>/actions/start", { method: "POST", credentials: "same-origin"});
        const response = await res.json();
        console.log(response);
        if (response.status === 'STARTED') {
                Swal.fire({
                    title: 'Success',
                    text: 'The container has been sucessfully started.',
                    icon: 'success'
                }).then(async (result) => {
                    await sleep(1000) //Give the container time to start incase they click OK too quickly.
                    location.reload()
                })
            }
    }
</script>

<style>
    body {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    }
</style>