<script src="https://unpkg.com/xterm@4.17.0/lib/xterm.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css"
    integrity="sha512-iLYuqv+v/P4u9erpk+KM83Ioe/l7SEmr7wB6g+Kg1qmEit8EShDKnKtLHlv2QXUp7GGJhmqDI+1PhJYLTsfb8w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<a href="/dashboard">Go Home</a><br></br>

<h1 id="name">Name: <%= container_info.Name %>
</h1>
<a id="image">Image: <%= container_info.Image %></a><br>
<a id="state">State: <%= container_info.State.Status %></a><br>
<a id="exitcode">Exit Code: <%= container_info.State.ExitCode %></a><br>
<a id="id">Container ID: <%= container_info.Id %></a><br>

<button id="start_button" onClick="start()" disabled>Start Container</button>

<button id="stop_button" onClick="stop()" disabled>Stop Container</button>

<button id="kill_button" onClick="kill()" disabled>Kill Container</button>

<p id="socketStatus" style="color:red">Connecting to console...</p>

<div id="terminal"></div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    let container;
    const dataSocket = new WebSocket(`ws://${window.location.host}${window.location.pathname}`);

    dataSocket.onmessage = function (event) {
        container = JSON.parse(event.data)
        document.getElementById("name").innerHTML = `Name: ${container.Name}`;
        document.getElementById("image").innerHTML = `Image: ${container.Image}`;
        document.getElementById("state").innerHTML = `State: ${container.State.Status}`;
        document.getElementById("exitcode").innerHTML = `Exit Code: ${container.State.ExitCode}`;
        if (container.State.Running === true) {
            document.getElementById("start_button").disabled = true;
        } else {
            document.getElementById("start_button").disabled = false;
        }

        if (container.State.Running === false) {
            document.getElementById("stop_button").disabled = true;
        } else {
            document.getElementById("stop_button").disabled = false;
        }

        if (container.State.Running === false) {
            document.getElementById("kill_button").disabled = true;
        } else {
            document.getElementById("kill_button").disabled = false;
        }
    }

    setInterval(function () {
        dataSocket.send("data")
    }, 1000);
</script>

<script>
    const term = new Terminal({
        cursorBlink: false,
        scrollback: 1000,
        tabStopWidth: 8,
    })

    term.open(document.getElementById('terminal'));

    let consoleSocket
    async function reconnect() {
        consoleSocket = new WebSocket(`ws://${window.location.host}${window.location.pathname}/console`);
        
        consoleSocket.onopen = async function (event) {
            await getLogs()
            const socketStatus = document.getElementById('socketStatus');
            socketStatus.innerHTML = 'Console Connected!';
            socketStatus.style = 'color:green';
        }
        consoleSocket.onmessage = function (event) {
            term.writeln(event.data.toString("utf8"))
        };
    }
    reconnect()

    async function closeSocket() {
        consoleSocket.close()
    }

    function logSuccess(data) {
        term.writeln("\u001b[32m [CROSSHATCH] " + data + " \u001b[0m")
    }
    function logInfo(data) {
        term.writeln("\u001b[36m [CROSSHATCH] " + data + " \u001b[0m")
    }
    function logError(data) {
        term.writeln("\u001b[31m [CROSSHATCH] " + data + " \u001b[0m")
    }

    async function getLogs() {
        const logsSocket = new WebSocket(`ws://${window.location.host}${window.location.pathname}/actions/getConsole`);
        logsSocket.onmessage = function (event) {
            console.log("connected")
            if (event.data === "No past logs found.") {
                logError("No past logs found.")
            } else {
                console.log(event.data)
                term.writeln(event.data.toString("utf8"))
            }
        };
    }
</script>

<script>
    async function start() {
        reconnect()
        const res = await fetch("/dashboard/container/<%= container_info.Id %>/actions/start", { method: "POST", credentials: "same-origin" });
        const response = await res.json();
        if (response.status === 'STARTED') {
            Swal.fire({
                title: 'Success',
                text: 'The start signal has been sent to the contianer.',
                icon: 'success'
            })
            logInfo("Starting container...")
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Uh Oh!',
                text: 'Something went wrong when sending the start signal to the container! Please try again later.',
            })
            logError("Something went wrong when sending the start signal to the container! Please try again later.")
            closeSocket()
        }
    }
</script>

<script>
    async function stop() {
        const res = await fetch("/dashboard/container/<%= container_info.Id %>/actions/stop", { method: "POST", credentials: "same-origin" });
        const response = await res.json();
        if (response.status === 'STOPPED') {
            Swal.fire({
                title: 'Success',
                text: 'The stop signal has been sent to the contianer.',
                icon: 'success'
            })
            logInfo("Container stopped.")
            closeSocket()
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Uh Oh!',
                text: 'Something went wrong when sending the stop signal to the container! Please try again later.',
            })
            logError("Something went wrong when sending the stop signal to the container! Please try again later.")
        }
    }
</script>

<script>
    async function kill() {
        const res = await fetch("/dashboard/container/<%= container_info.Id %>/actions/kill", { method: "POST", credentials: "same-origin" });
        const response = await res.json();
        if (response.status === 'KILLED') {
            Swal.fire({
                title: 'Success',
                text: 'The kill signal has been sent to the contianer.',
                icon: 'success'
            })
            logInfo("Container killed.")
            closeSocket()
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Uh Oh!',
                text: 'Something went wrong when sending the kill signal to the container! Please try again later.',
            })
            logError("Something went wrong when sending the kill signal to the container! Please try again later.")
        }
    }
</script>

<style>
    body {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>